.app-title > h1 {
    text-align: center;
    padding-top: 50%;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
}

.login-primary-theme {
    width: 350px;
    padding: 0 20px 0 20px;
    margin: auto;
}

.login-title {
    font-size: 20px;
}

.login-icon {
    margin-inline-end: 5px;
}

.register-section {
    margin-top: 50px;
}

.register-btn {
    margin-top: 0;
}